<!-- START -- NAV BAR -->
<div id="cssmenu">
  <ul id="navbar">
    <li><a href="index.html">Home</a>
    </li>
    <li><a href="automate.html">Configure Automation</a>
    </li>
    <li><a href="data.html">Data Management</a>
    </li>
    <li><a href="control.html">Manual Control</a>
  </ul>
</div>
<!-- END -- NAV BAR -->


<!-- <\!-- Navigation Bar -\-> -->
<!-- <div id="cssmenu"> -->
<!--   <ul id="navbar"> -->
<!--     <li><a href="../index.html">Home</a> -->
<!--     </li> -->
<!--     <li><a href="../blog.html">Blog</a> -->
<!--     </li> -->
<!--     <li><a href="../projects.html">Personal Projects</a> -->
<!--     </li> -->
<!--     <li><a href="../programs.html">Programs</a> -->
<!--     </li> -->
<!--     <li><a href="../server.html">Server Access</a> -->
<!--     </li> -->
<!--     <li><a href="../about-me.html">About Me</a> -->
<!--     </li> -->
<!--   </ul> -->
<!-- </div> -->
