    <!DOCTYPE html>
    <html lang="en"
    <head>
    <title>Van Control: Temp and Humidity</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <!-- import plugin script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <h1>Flask Chart.js</h1>

    <body>
    <!-- START -- NAV BAR -->
    <div id="cssmenu">
    <ul id="navbar">
    <li><a href="index.html">Home</a>
    </li>
    <li><a href="automate.html">Configure Automation</a>
    </li>
    <li><a href="data.html">Data Management</a>
    </li>
    <li><a href="control.html">Manual Control</a>
    </ul>
    </div>
    <!-- END -- NAV BAR -->


    <canvas id="line-chart1" width="60%" height="15px"></canvas>
    <canvas id="line-chart2" width="60%" height="15px"></canvas>

    <script>
    // get the data passed from Flask
const labels = {{ labels|tojson }};
const data1_1 = {{ data1_1|tojson }};
const data1_2 = {{ data1_2|tojson }};
const data1_3 = {{ data1_3|tojson }};
const data2_1 = {{ data2_1|tojson }};
const data2_2 = {{ data2_2|tojson }};
const data2_3 = {{ data2_3|tojson }};


// START - CHART
new Chart(document.getElementById("line-chart1"), {
    type: 'line',
    data: {
        labels: labels,
        datasets: [
	        { 
                data: data1_1,
                label: "Temperature 1",
                borderColor: "#3e95cd",
                fill: false
            },
	        {
	            data: data1_2,
                label: "Temperature 2",
                borderColor: "#c45850",
                fill: false
	        },
	        {
	            data: data1_3,
                label: "Temperature 3",
                borderColor: "#8fed9c",
                fill: false
            }
        ]
    },
    options: {
	    responsive: true,
	    title: {
	        display: true,
	        text: 'Temperature data from control center'
	    },
        scales: {
            xAxes: [{
                ticks: {
                    maxTicksLimit: 20
                }
            }]
        }
    }
});
// END - CHART

// START - CHART
new Chart(document.getElementById("line-chart2"), {
    type: 'line',
    data: {
        labels: labels,
        datasets: [
	        { 
                data: data2_1,
                label: "Humidity 1",
                borderColor: "#381ecf",
                fill: false
            },
	        {
	            data: data2_2,
                label: "Humidity 2",
                borderColor: "#c23f23",
                fill: false
	        },
	        {
	            data: data2_3,
                label: "Humidity 3",
                borderColor: "#15d363",
                fill: false
            }
        ]
    },
    options: {
	    responsive: true,
	    title: {
	        display: true,
	        text: 'Humidity data from control center'
	    },
        scales: {
            xAxes: [{
                ticks: {
                    maxTicksLimit: 20
                }
            }]
        }
    }
});
// END - CHART

</script>

</body>
    </html>

