
<html lang="en"

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Van Control: Temp and Humidity</title>
</head>

<!-- import plugin script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<h1>Flask Chart.js</h1>

<canvas id="line-chart" width="500" height="400"></canvas>

<script>
  // get the data passed from Flask
  const labels = {{ labels|tojson }};
  const data1 = {{ data1|tojson }};
  const data2 = {{ data2|tojson }};
  const data3 = {{ data3|tojson }};

  
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: labels,
      datasets: [
	  { 
        data: data1,
        label: "Temperature 1",
        borderColor: "#3e95cd",
        fill: false
    },
	{
	data: data2,
        label: "Temperature 2",
        borderColor: "#c45850",
        fill: false
	},
	  {
	data: data3,
        label: "Temperature 3",
        borderColor: "#8fed9c",
        fill: false
      }
    ]
  },
    options: {
	responsive: true,
	title: {
	    display: true,
	    text: 'Temperature data from control center'
	}
  }
});

</script>
 

